.about {
  position: relative;
  background: url("/images/me.jpg") no-repeat bottom right;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.biography {
  width: 80%;
  margin: 30px auto;
  padding: 15px;
}

.heading {
  margin-bottom: 15px;
}

.container {
  width: 100%;
  height: 100%;
  opacity: 1;
}

@media (max-width: 1024px) {
  .about {
    background: url("/images/me-sm.jpg") no-repeat bottom right;
    background-size: cover;
  }
}

